section {
    background-color: #f2f2f2;
    color: #111;
    padding: 10px;
}

table {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


input {
        width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    border-radius: 3px;
}