#starwars {
    background-color: #4286f4;
    color: #fff;
    margin: 10 10px;
    width: 25%;
    padding-left: 2px;
}

#starwars2 {
    background-color: #2bc619;
    color: #fff;
    margin: 10 10px;
    width: 25%;
    padding-left: 2px;
}
